<p id="notice"><%= notice %></p>
<div class="col-xs-6">
  <%= image_tag(@business.picture, size: "250x250", class: "img img-rounded") %>
    <h1><%= @business.name %></h1>
    <p class="lead"><%= @business.description %></p>



</div>


<div class="col-xs-6">
<% if @business.job_site? and current_user.nil? %>
    <h1>Apply to <%= @business.name %></h1>
    <%= render 'layouts/job_site_application_form' %>
<% elsif @business.job_site? and current_user and current_user.role == 'admin' %>
      <h1>Submitted Applications</h1>
      <% @business.job_site_applications.each do |application| %>
          <h3><%= link_to "#{application.first_name} #{application.last_name}'s Application", application %> <br></h3>
      <% end %>
      <%= link_to 'Edit', edit_business_path(@business) %> |
      <%= link_to 'Back to Admin Home', welcome_admin_path %>
  <% end %>





</div>