<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "A hosting opportunity is available for #{@match.mou.firstName} #{@match.mou.lastName} 
	     and #{@match.student_interest.firstName} #{@match.student_interest.lastName}" %>
    </h3>
    <br>
    <h3>Information</h3><br>
      <p>    
	Student Name: <%= @match.student_interest.firstName + " " + @match.student_interest.lastName %><br>
	Student School: <%= @match.student_interest.school.name %>
	Student Contact: <%= @match.student_interest.school.contactFirstName %> + " " + <%= @match.student_interest.school.contactLastName %>
	Student Contact Email: <%= @match.student_interest.school.contactEmail %>
	Host Name: <%= @match.mou.firstName + " " + @match.mou.lastName %> <br>
	Host Email: <%= @match.mou.emailAddress %>
	Host Business: <%= @match.mou.business.name %> <br>
	Hosting Details: <%= @match.mou.considerations %><br>
      </p>
   <h4> 
     <%= 
	"#{@match.mou.firstName} #{@match.mou.lastName} will contact you with dates that they are available to host."
     %>
   </h4>	  

