<% if flash[:notice] %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="well">
  <h1>Listing Students</h1>
</div>
<div class="row">
  <%= render 'layouts/admin_menu' %>
  <div class="col-sm-9 col-md-9 col-lg-9">
    <div class="table-responsive">
      <table class="table table-hover">
	<thead>
	  <tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>School</th>
	    <th>Category</th>
	    <th>Notes</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
	  <% @student_interests.each do |student_interest| %>
	  <tr>
	    <td><%= student_interest.firstName %></td>
	    <td><%= student_interest.lastName %></td>
	    <td><%= student_interest.school.name if student_interest.school %></td>
	    <td><%= student_interest.category.name if student_interest.category %></td>
	    <td><%= student_interest.notes %></td>
	    <td><%= link_to 'Show', student_interest %></td>
	    <td><%= link_to 'Edit', edit_student_interest_path(student_interest) %></td>
	    <td><%= link_to 'Destroy', student_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
    <br>
    <%= link_to 'New Student interest', new_student_interest_path %>
  </div>
</div>
