<div class="well">
  <h1>Administrator Home</h1>
</div>
<div class="row">
  <%= render 'layouts/admin_menu' %>
  <div class="col-sm-3 col-lg-3">
    <div class="well">
    <%= link_to "Number of Hosts Signed Up:", mous_path %><br>
    <%= @mous.count %>
    <br>
    </div>
  </div>
  <div class="col-sm-3 col-lg-3">
    <div class="well">
    <%= link_to "Students Interested", student_interests_path %><br>
    <%= @student_interests.count %>
    </div>
  </div>
  <div class="col-sm-3 col-lg-3">
    <div class="well">
      <%= link_to "Total Matches:", matches_path %></br>
      <%= @matches.count %>
    </div>
  </div>
</div>
