<div class="row">
  <div class="col-sm-3 col-lg-3">
     <div class="list-group">
       <%= link_to 'New Mou', new_mou_path, :class => "list-group-item" %>
       <%= link_to "Submitted MOU's", mous_path, :class => "list-group-item" %>
       <%= link_to "New Student Interest", new_student_interest_path, :class => "list-group-item" %>
       <%= link_to "Student Interest List", student_interests_path, :class => "list-group-item" %>
       <%= link_to "Category Creation", new_category_path, :class => "list-group-item" %>
     </div>
  </div>
  <div class="col-sm-9 col-lg-9">
  </div>
</div>
