<div class="row">
  <div class="col-xs-12 col-md-6">    
      <%= form_for(@mou) do |f| %>
      <% if @mou.errors.any? %>
      <div id="error_explanation">
	<h2><%= pluralize(@mou.errors.count, "error") %> prohibited this mou from being saved:</h2>
	<ul>
	  <% @mou.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
      <% end %>
    
    <div class="form-group">
      <%= f.label :business_id,"Business:" %><br>
      <%= collection_select(:mou, :business_id, Business.all, :id, :name) %>
      <%= link_to "Add Business To List", new_business_path %>
    </div>
    <div class="form-group">
      <%= label :category_id,"Category:" %><br>
      <%= collection_select(:mou, :category_id, Category.all, :id, :name) %>
    </div>
    <div class="form-group">
      <%= f.label :emailAddress, "Email Address:" %><br>
      <%= f.text_field :emailAddress, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :firstName, "First Name:" %><br>
      <%= f.text_field :firstName, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :lastName, "Last Name:" %><br>
      <%= f.text_field :lastName, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :jobTitle, "Job Title:" %><br>
      <%= f.text_field :jobTitle, class: "form-control" %>
    </div>
    <div class="field"> 
	  <% ['Full Day - No Lunch', 'Full Day - Lunch Provided', 'Half-Day'].each do |considerations| %>
	  <%= radio_button_tag('mou[considerations]', considerations) %>
	  <%= label :considerations, considerations %>
	 <br>
	  <% end %>
    </div>

    <!--   <div class="form-group">
      <%= f.label :phone, "Phone Number:" %><br>
      <%= f.text_field :phone, class: "form-control" %>
    </div> -->
    
<!-- business partial
      
<!-- <p><%#= link_to_add_fields "Business Not On List?", f, :businesses %></p>
    <%#= f.fields_for :business do |business_field| %>
      <%#= render 'layouts/businessForm', :f => business_field %>
    <%# end %> -->
    
 <!-- <div class="form-group">
      <%= f.label :duration, "Duration (Half or Full Day):" %><br>
      <%= f.text_field :duration, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :considerations, "Considerations For Students:" %><br>
      <%= f.text_area(:considerations, :rows => '4', class: "form-control") %>
    </div> -->




    <div class="actions">
      <%= f.submit "Host a Student" %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="welledDisclaimer">
      <div class="well well-sm">   
        <div class"mou_image">
	  <%= image_tag("mou.jpg", :class => "image-response", :width => "100%", :alt => "MOU") %>
	</div>
	<h3>By clicking submit you understand that:</h3>
	<p>* Students are to be provided with field experiences</p>
	<p>* Students are not expected to perform tasks, simply observe</p>
	<p>* Students should be prepared for job or site specific information</p>
	<p>* Hosts are encouraged to be very explicit and genuine in expressing 
	  all aspects of career<p>
	<p>* Please refer to information on site_url on do's and do not's for hosting</p>
      </div>
    </div>
  </div>
</div>
  

    

<% end %>
