<h1>Listing mous</h1>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Email Address</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Category</th>
      <th>Business Name</th>
      <th>Job Title</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @mous.each do |mou| %>
      <tr>
        <td><%= mou.emailAddress %></td>
	<td><%= mou.firstName %></td>
        <td><%= mou.lastName %></td>
        <td><%= mou.phone %></td>
        <td><%= mou.category.name if mou.category %></td>
	<td><%= mou.business.name if mou.business %></td>
	<td><%= mou.jobTitle %></td>
        <td><%= mou.duration %></td>
        <td><%= link_to 'Show', mou %></td>
        <td><%= link_to 'Edit', edit_mou_path(mou) %></td>
        <td><%= link_to 'Destroy', mou, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Mou', new_mou_path %>
<%= link_to 'Home Page', welcome_admin_path %>



