

<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @mou.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @mou.lastName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @mou.phone %>
</p>

<p>
  <strong>Jobtitle:</strong>
  <%= @mou.jobTitle %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @mou.duration %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @mou.availability %>
</p>

<p>
  <strong>Considerations:</strong>
  <%= @mou.considerations %>
</p>

<% @role = current_user.role 
   if @role == 'professional' %>
<%= link_to 'Edit', edit_mou_path(@mou) %> |
<%= link_to 'Home', welcome_professional_path %>

<% elsif @role == 'admin' %>

<%= link_to 'edit', edit_mou_path(@mou) %>
<%= link_to "submitted MOU's", mous_path %>
<%= link_to 'home', welcome_admin_path %>

<% end %>
