<p id="notice"><%= notice %></p>
<div class="well">
<h1>Listing Open Matches</h1>
</div>
<div class="row">
  <%= render 'layouts/admin_menu' %>
  <div class="col-sm-9 col-md-9 col-lg-9">
    <div class="table-responsive">
      <table class="table table-hover">
	<thead>
	  <tr>
	    <th>Administrator:</th>
	    <th>Host:</th>
	    <th>Student:</th>
	    <th>Date:</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  <% @matches.each do |match| if match.hostDate.blank? %>
	        <tr>
		  <td><%= match.user.email if match.user %></td>
		  <td><%= match.mou.firstName + " " + match.mou.lastName if match.mou %></td>
		  <td><%= match.student_interest.school.contactEmail if match.student_interest and match.student_interest.school %></td>
		  <td><%= match.hostDate %></td>
		  <td><%= link_to 'Show', match %></td>
		  <td><%= link_to 'Edit', edit_match_path(match) %></td>
		  <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>

		  <% end %>
		<% end %>
	</tbody>
      </table>
    <%= link_to 'Student Interest List', student_interests_path %>
    </div>
  </div>
  
      
</div>
