<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @match.user_id %>
</p>

<p>
  <strong>Mou:</strong>
  <%= @match.mou_id %>
</p>

<p>
  <strong>Student interest:</strong>
  <%= @match.student_interest_id %>
</p>

<p>
  <strong>Hostdate:</strong>
  <%= @match.hostDate %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
