<p id="notice"><%= notice %></p>

<p>
  <strong>Business:</strong>
  <%= @job_site_application.business.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @job_site_application.school.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @job_site_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job_site_application.last_name %>
</p>

<%= link_to 'Edit', edit_job_site_application_path(@job_site_application) %> |
<%= link_to 'Back', @job_site_application.business %>
