<header>  
  <div class="row">
    <div class="masthead">
      <div class="col-xs-12 col-sm-10 col-lg-10"> 
	  <h3 class="text-muted">Future 40Below'er Program</h3>
	    <ul class="nav nav-pills nav-justified">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "Students", students_path %></li>
	      <li><%= link_to "Professionals", professionals_path %></li>
	      <li><%= link_to "Businesses", businesses_path %></li>
	      <li><%= link_to "Administrators", administrators_path %></li>
	    </ul>
      </div>
    <div class="col-xs-6 col-sm-2 col-lg-2">
	   <% if user_signed_in? %>
             <%= button_to "Sign Out", destroy_user_session_path, :method => :delete, class: "btn btn-large btn-primary"  %>
	       <% @role = current_user.role
		  if @role == 'admin' %>
	       <%= button_to "Admin Home", welcome_admin_path, :method => :get, class: "btn btn-large btn-primary" %>
	     <% elsif @role == 'professional' %>
	     
	     <%= button_to "Professional Home", welcome_professional_path, :method => :get, class: "btn btn-large btn-primary" %>
	       <% end %>
	     <%= current_user.email %>
	   <% else %>
	   <div class="btn-group">
	   <%= button_to "Sign up", new_user_registration_path, :method => :get, class: "btn btn-primary" %>
	   <%= button_to "Sign in", new_user_session_path, :method => :get, class: "btn btn-primary" %>
	   <% end %>
	   </div>
    
    </div>
    </div>
</header>
  

