<header>  
  <div class="row">
    <div class="masthead">
      <div class="col-xs-11 col-sm-11 col-lg-11"> 
	  <h3 class="text-muted">Future Young Professionals</h3>
	    <ul class="nav nav-pills nav-justified">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "About", about_path %></li>
	      <li><%= link_to "Professionals", professionals_path %></li>
	      <li><%= link_to "Students", students_path %></li>
	      <li><%= link_to "Businesses", businesses_path %></li>
	      <li class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		  Sign In/Sign Up<span class="caret"></span></a>
		</a>
		 <ul class="dropdown-menu">
		   <li><%= link_to "Sign In", new_user_session_path %></li>
		   <li><%= link_to "Sign Up", new_user_registration_path %></li>
		 </ul>
	      </li>
	    </ul>	   		    
      </div>
    <div class="col-xs-1 col-sm-1 col-lg-1">
    </div>
    </div>   
  </div>
</header>
  

