<%= stylesheet_link_tag "application" %>

<div class="logo">
  <%= image_tag("40B_Logo.png", :class => "image-responsive", :width => "100%", :alt => "40Below Logo") %>
</div>
<div class="logo">
  <%= image_tag("LPNS_Logo.jpg", :class => "image-responsive", :width => "100%", :alt => "LPNS Logo") %>
</div>
<div class="logo">
  <%= image_tag("bizjournal_logo.jpg", :class => "image-responsive", :width => "100%", :alt => "Business Journal") %>
<div class="logo">
  <%= image_tag("SCSD_Logo.gif", :class => "image-responsive", :width => "100%", :alt => "SCSD Logo:") %>
</div>

<br>
<%= link_to 'Administrator Log-In', new_user_session_path %>
