<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51711889-1', 'future40b.com');
      ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="container">    
    <%= render 'layouts/header' %>
    <div class="row"> 
      <div class="col-xs-12 col-sm-11 col-md-11">
	<div class="applicationContainer">  
	  <%= yield %>
	</div>
      </div>
      <div class="col-xs-12 col-sm-1 col-md-1">
      <%= render 'layouts/sidelogos' %>
      </div>
    </div>
  </div>
</body>
</html>
